<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>ThoughtsHub</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dashboard.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">ThoughtsHub</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/<%= currentUser._id %>">
                                <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="file-text"></span> Posts
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="/admin/<%= currentUser._id %>/posts">
                                    <span data-feather="file-text"></span> All Post
                                </a>
                                <a class="dropdown-item" href="/admin/<%= currentUser._id %>/posts/new">
                                    <span data-feather="file-plus"></span> New Post
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span data-feather="list"></span> Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="/admin/<%= currentUser._id %>/categories">
                                    <span data-feather="package"></span> All Categories
                                </a>
                                <a class="dropdown-item" href="/admin/<%= currentUser._id %>/categories/posts/new">
                                    <span data-feather="package"></span> New Category Post
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/admin/comments">
                                <span data-feather="home"></span> Comments <span class="sr-only"></span>
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Activities</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span> Log
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <% if(error && error.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
          
            </div>
          <% } %>
        <!-- ALERT ALL SUCCESS AND ERRORS-->
          <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert" >
              <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
             
            </div>
          <% } %>
  
        </div>