<%- include('../partials/blogHeader') %>

    <h1 style="text-align: center; ">Edit
        <%= comment.comment_body %>
    </h1>

    <div style="width: 30%; margin: 25px auto;">
        <form action="/posts/<%= post_id %>/comments/<%= comment._id %>?newMethod=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" name="comment[comment_body]" value="<%= comment.comment_body %>" type="text">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>

        <a href="/posts">Go Back</a>
    </div>

    <%- include('../partials/blogFooter') %>